In [1]:
'Hello world'

'Hello world'

In [3]:
#string should be in quotes

Helloworld'

SyntaxError: EOL while scanning string literal (<ipython-input-3-72b1a73a1453>, line 3)

In [4]:
#concatenation and replication 

'alice ' + 'bob'

'alice bob'

In [5]:
#type error 
'raj' + 35

TypeError: can only concatenate str (not "int") to str

In [7]:
# STRING REPLICATION IN STRINGS * OPERATOR
'car' * 5

'carcarcarcarcar'

In [13]:
#every object and value  is quoted in single / double quotes 
#will be STRING

whatistype_of =  'car' + '++'

whatistype_of

'car++'

In [14]:
type(whatistype_of)

str

In [16]:
#cannot * operator in strings

'raj' * 'tomar'

TypeError: can't multiply sequence by non-int of type 'str'

In [17]:
'raj' +  'tomar'

'rajtomar'

In [18]:
#assingment statements

spam = 43

In [20]:
#variable as a labeled box with value in it 
spam

43

In [21]:
eggs  = 2 
spam + eggs

45

In [22]:
spam + eggs + spam

88

In [23]:
spam  = spam + 2

In [24]:
spam

45

In [29]:
# overwriting of variable
spam  = 'Hello'

In [26]:
spam

'Hello'

In [27]:
spam  = "good bye"

In [28]:
spam

'good bye'

In [30]:
#variable name cant begin with number 
#special character are not allowed : -,$,''
#spaces are not allowed

#balance
#curr_bal
#curr_2020

In [34]:
#this  program says hello and asks for my name 

print('hello world')
print('what is your name')
name = input()

print('it is good to meet you ' + name)
print('the length of my name is :')
print(len(name))

print('whats your age ?') #ask for their age
age = input()
print('you will be ' + str(int(age)+ 1) + ' in a year')

hello world
what is your name
raj
it is good to meet you raj
the length of my name is :
4
whats your age ?
27
you will be 28 in a year

In [35]:
#a value that is passed to function called arguments

"""print is function and values in print(arguments)"""

'print is function and values in print(arguments)'

In [36]:
print("my age is " + 27 + 'years old')

TypeError: can only concatenate str (not "int") to str

In [38]:
print("my age is " + '27'+ ' years old')

my age is 27 years old

In [40]:
#casting 
#str() , int() , float()

data =  str(0)

In [41]:
type(data)

str

In [42]:
str(-3.14)

'-3.14'

In [43]:
str(3.14)

'3.14'

In [44]:
int('ara')

ValueError: invalid literal for int() with base 10: 'ara'

In [45]:
spam = input()

101

In [46]:
type(spam)

str

In [47]:
intspam = int(spam)

In [49]:
print(intspam)
type(intspam)

101

int

In [51]:
intspam * 10 / 5

202.0

In [53]:
#round of floating point data 

print(int(7.7))

int(7.7) + 1

7

8

In [57]:
print('whats ur age') #ask for their age

myage  = input()
print('you will be ' + str(int(myage) + 1) + 'in a year')

whats ur age
27
you will be 28in a year

In [58]:

42 == '42'

False

In [59]:
42 == 42.0

True

In [61]:
42.0 == 0042.00000

True